<!DOCTYPE html>
<html>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        }
    </style>
    <h1>Word Guessing Game v1.0</h1>
    <h2>Lastest 10 Question</h2>
    <div style="text-align: center">
        <table style="width:50%">
        <% data.forEach(function(d) { %>
            <tr>
                <th>Question</th>
                <th>Score</th>
                <th>Attempts</th>
                <th>Create-Date</th>
            </tr>
            <tr>
                <td><%= d.questionName %></td>
                <td><%= d.score %></td>
                <td><%= d.wrong_num %></td>
                <td><%= d.date %></td>
            </tr>
        <% }); %>
        </table>
        <form method="get" action="/">
            <label>Main-Menu: </label>
            <input type="submit" value="Back" style="line-height: 20px text-size; font-size: 16px;">
        </form>
    </div>
</html>